.bg-img {
    background-color: #ffffff;
    background-image: url("../../assets/images/banner2.jpg");
    background-position: top left;
    background-size: cover;
}

.background-overlay {
    background-color: #06121c;
    opacity: 0.9;
    transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
}